@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;300&family=Megrim&display=swap') ;

.header-content {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 300px;
}

.header-content p {
  color: white;
  font-family: Epilogue , cursive;
  font-weight: 700;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-top: 50px;
}

.header-link {
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: Epilogue , cursive;
  font-size: 1.2rem;
  height: 28px;
  margin-bottom: 12px;
  margin-left: 30px;
  text-decoration: none;
}
