@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;300&family=Megrim&display=swap') ;

body {
  background-image: url('https://i.ytimg.com/vi/KuUS97EJ5vc/maxresdefault.jpg');
}

.login-box {
  align-items: center;
  background: #2e323e;
  border-radius: 20px;
  box-shadow: 26px
    white;
  height: 450px;
  left: 505px;
  padding: 50px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 800px;
}

h1 {
  color: #dfffff;
  font-family: Megrim , cursive;
  font-size: 50px;
  font-weight: 1;
  text-align: center;
}

h2 {
  color: #dfffff;
  font-family: Megrim , cursive;
}

.login-input {
  border: 1px solid #1a3c48;
  border-radius: 100px;
  height: 40px;
  left: 250px;
  position: absolute;
  text-align: center;
  top: 120px;
  width: 400px;
}

.button-login {
  background: #84544d;
  border-radius: 100px;
  cursor: pointer;
  height: 40px;
  left: 250px;
  position: absolute;
  top: 180px;
  width: 400px;
}

h3 {
  color: white;
  font-family: Epilogue , cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}
