@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;300&family=Raleway:wght@100;200;300;500&display=swap') ;

body {
  background-color: #1e1e1e;
}

.login-box {
  align-items: center;
  background: #181818;
  border-radius: 20px;
  box-shadow: 26px
    white;
  height: 450px;
  left: 505px;
  padding: 50px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 800px;
}

h1 {
  color: #1db954;
  font-family: Raleway , cursive;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

h2 {
  color: #dfffff;
  font-family: Raleway , cursive;
}

.login-input {
  border: 1px solid #1a3c48;
  border-radius: 100px;
  height: 40px;
  left: 250px;
  outline: none;
  position: absolute;
  text-align: center;
  top: 120px;
  width: 400px;
}

.login-input:focus {
  border: 3px solid #268ab9;
  transition: 0.5s;
}


.button-login {
  background: #1db954;
  border-radius: 100px;
  border-style: none;
  cursor: pointer;
  height: 40px;
  left: 250px;
  position: absolute;
  top: 180px;
  width: 400px;
}

.button-login:focus {
  border-style: inset;
  border-width: 1px;
}

.button-login:disabled {
  background: lightgray;
  cursor: default;
}

.button-login:not( [ disabled ] ):hover {
  opacity: 0.2;
}

h3 {
  color: white;
  font-family: Epilogue , cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}
